@import "../../variables";

.empty-busket {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  align-items: center;
  margin-bottom: 5rem;
  &__text {
    color: $base-bg-color;
    font-size: 1.3rem;
    font-weight: bold;
  }
  img {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}