@import "../../variables";

.product-item {
    position: relative;
    width: 15rem;
    margin: 0 1rem;
    border: $item-border;
    background-color: white;
    padding: 0.8rem;
    box-shadow: $box-shadow;
    &:hover {
        box-shadow: $box-shadow_hover;
    }
    &__wrap-img {
        img {
            width: 100%;
        }
    }
    &__inf {
        padding-bottom: 3rem;
        margin-top: 1rem;
    }

    .add-to-cart {
        position: absolute;
        bottom: 0.8rem;
        right: 0.8rem;
    }
    @media (max-width: 767px) {
        width: 60%;
        margin: 0.5rem auto;

    }
}

