@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
}
a {
   text-decoration: none;
 }
.section {
  margin: 2.5rem 0 4rem;
}
.section__title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  html {
    font-size: 0.8rem;
  }
}