@import "../../variables";

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.cart-item {
    display: flex;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: $box-shadow;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
    &:hover {
        box-shadow: $box-shadow_hover;
    }
    &__wrap-img {
        width: 8rem;
        height: 8rem;
    }
    &__wrap-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__description {
        width: 40%;
    }
    &__cost {
        width: 10%;
        text-align: center;
    }
    .close {
        opacity: 0.3;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        content: ' ';
        height: 1rem;
        width: 0.1rem;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    .counter {
        font-size: 2rem;
        position: relative;
        width: 7rem;
        height: 3rem;
        &-amount {
            width: 3rem;
            text-align: center;
            font-size: 1rem;
            border:none;
            height: 100%;
            position: absolute;
            left: 50%;
            @include transform(translate(-50%,0));
        }
        &-amount:hover {
            cursor: auto;
        }
        &-amount:focus-visible {
            border:none;
            outline: 0;
        }
        .btn-minus, .btn-plus {
            position: absolute;
            color: $btn-text-color;
            background: $base-bg-color;
            width: 1.5rem;
            height: 1.5rem;
            z-index: 10;
            cursor: pointer;
            font-size: 1.5rem;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: $border-radius;
            border: none;
            padding: 1rem;
            top: 50%;
            @include transform(translate(0,-50%));
        }
        .btn-minus {
            left: 0;
        }
        .btn-plus {
            right: 0;
        }

    }
}

